* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875rem;
  list-style: 1.25rem;
}

a {
  text-decoration: none;
  color: #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
}
.navbar-logo {
  display: flex;
  justify-content: flex-start;
}

.navbar-logo img {
  width: 7rem;
  height: 4rem;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.navbar a {
  display: flex;
  margin: 2rem;
}

.app-button {
  padding: 0.5rem;
  border-style: none;
  /* font-size: 1.1rem; */
  border-radius: 0.3rem;
  background-color: aquamarine;
}

/* Landing */

.hero-container {
  display: flex;
  flex-direction: row;
  margin: 3rem;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-img {
  width: 10rem;
  height: auto;
  margin: 0 1.3rem;
}

.hero-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
}

.hero-title {
  font-size: 5rem;
  font-weight: bold;
}

.hero-para {
  display: flex;
  align-items: flex-start;
  font-size: 1.3rem;
  color: #cfcece;
  max-width: 30rem;
  
}